extends layout

block content
  h1= title
  p List of ornithology expeditions and notable birds observed.

  .container-fluid
    .row
      each expedition in expeditions
        .col-sm-4
          .card
            .card-body
              h5 Expedition Location: #{expedition.location}
              p Species Spotted: #{expedition.species_spotted}
              p Duration: #{expedition.duration_days} days
br
script.
    function buy(index) {
      alert('You purchased item ' + index);
    }             

  


